#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#animateGif {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: -25;
}

#animation video {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: -20;
}

#buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  /*flex-direction: column;*/
  bottom: 2em;
  transition: all .2s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

#buttons a {
  border-radius: 50px;
  padding: 0.3em 0.3em 0.1em 0.3em;
  margin: 0.5em 0 0.5em 1em;
  color: white;
  font-family: Arial;
}

#buttons a img {
  max-width: 5em;
  max-height: 5em;
  border-radius: 50px;
}

.testpreview {
  z-index: 10;
  position: absolute;
}

.testpreview:hover {
  opacity: 0;
  transition: all .2s ease-in-out;
}

#buttons a:hover {
  transition: all .2s ease-in-out;
  box-shadow: 4px 4px 16px -5px rgba(0,0,0,0.75);
  transform: scale(1.1);
  background-color: deepskyblue;
}

.active {
  transition: all .2s ease-in-out;
  box-shadow: 4px 4px 16px -5px rgba(0,0,0,0.75);
  transform: scale(1.1);
  background-color: deepskyblue;
}

.color1 {
  transition: all .5s ease-in-out;
  /*background-color: #ffa875;*/
  background-color: #07345e;
}

.color2 {
  transition: all .5s ease-in-out;
  background-color: #7598ff;
}

.color3 {
  transition: all .5s ease-in-out;
  background-color: #75ffba;
}

.hidden {
  display: none;
}

